@import "../vendor/bootstrap/less/bootstrap.less";
@import "bootswatch.less";
@import "variables.less";

.center {
    text-align: center;
}

.progress.people {
    height: 25px;
}

.progress.people .progress-bar {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 0 10px;
    text-align: left;
}

.report-title {
    font-size: 30px;
}

.current {
    font-size: 2.5em;
}
