@import "../vendor/bootstrap/less/bootstrap.less";
@import "bootswatch.less";
@import "variables.less";

.center {
    text-align: center;
}

.report-title {
    font-size: 30px;
}

.current {
    font-size: 2.5em;
}

.token-body {
    height: 250px;
    overflow: scroll;
}
