[[ extends 'base.html' ]]

[[ block header ]]
    <link rel="stylesheet" type="text/css" href="static/css/chart.css">
[[ endblock ]]

[[ block body ]]
<div class="row">
    <div class="small-12 columns">
        <input id="happy_check" type="checkbox" />
        <label for="happy_check">Happiness</label>

        <input id="health_check" type="checkbox" />
        <label for="health_check">Health</label>

        <input id="weight_check" type="checkbox" />
        <label for="weight_check">Weight</label>

        <input id="steps_check" type="checkbox" />
        <label for="steps_check">Steps</label>

        <input id="miles_check" type="checkbox" />
        <label for="miles_check">Miles</label>

        <input id="floors_check" type="checkbox" />
        <label for="floors_check">Floors</label>
        <svg id="chart-main"></svg>
    </div>
</div>
<div class="row">
    <h2>Top fives</h2>
    [[ for summary in summaries ]]
        [[ if summary.type == 'tokens' ]]
            <div class="small-3 columns">
                <label>[- summary.question -]</label>
                <ol>
                    [[ for top in summary.top_five ]]
                        <li><a href="context/[- top.answer -]">[- top.answer | title -]: [- top.amount -]</li>
                    [[ endfor ]]
                </ol>
            </div>
        [[ endif ]]
    [[ endfor ]]
</div>

[[ endblock ]]

[[ block footer ]]
    <script src="static/vendor/d3/d3.min.js"></script>
    <script src="static/vendor/lodash/dist/lodash.min.js"></script>
    <script src="static/js/chart.js"></script>
    <script src="static/js/events.js"></script>
[[ endblock ]]
