[[ set good_questions= [
    'Who are you with?',
    'What are you doing?',
    'Where are you?'
]]]

[[ extends 'base.html' ]]

[[ block header ]]
[[ endblock ]]

[[ block body ]]
    <div class="row">
        <div class="small-3 columns">
            <h1>[- context.answer -]</h1>
            <p>[- context.amount -] total reports</p>
        </div>
        [[ for question in context.questions ]]
            [[ if question in good_questions and context.questions[question] | length ]]
                <div class="small-3 columns">
                    <p>[- question -]</p>
                    <ul>
                    [[ for answer in context.questions[question] ]]
                        <li><a href="[- answer[0] -]">[- answer[0] -]: [- answer[1] -]</a></li>
                    [[ endfor ]]
                    </ul>
                </div>
            [[ endif ]]
        [[ endfor ]]
    </div>
[[ endblock ]]

[[ block footer ]]
[[ endblock ]]
