[[ set good_questions= [
    'Who are you with?',
    'What are you doing?',
    'Where are you?'
]]]

[[ extends 'base.html' ]]

[[ block header ]]
[[ endblock ]]

[[ block body ]]
    <div class="row">
        <div class="small-3 columns">
            <h1>[- context.answer -]</h1>
            <p>[- context.amount -] total reports</p>
        </div>
        <div class="small-3 columns">
            <p>Average battery life: [- context.battery.average -]%</p>
        </div>
        <div class="small-3 columns">
            <p>Weather stats:</p>
            <ul>
                <li>High (F): [- context.weather.high_f -]</li>
                <li>Average (F): [- context.weather.avg_f | round(2) -]</li>
                <li>Low (F): [- context.weather.low_f -]</li>
                <li>Wind average: [- context.weather.wind_avg | round(2) -] mph</li>
                <li>Wind low: [- context.weather.wind_low | round(2) -] mph</li>
                <li>Wind high: [- context.weather.wind_high | round(2) -] mph</li>
            </ul>
        </div>
        <div class="small-3 columns">
            <p>Audio Stats:</p>
            <ul>
                <li>Average min: [- context.audio.avg_min -]</li>
                <li>Average max: [- context.audio.avg_max -]</li>
                <li>Average overall: [- context.audio.avg_avg | round(2) -]</li>
                <li>Peak min: [- context.audio.peak_min -]</li>
                <li>Peak max: [- context.audio.peak_max -]</li>
                <li>Peak overall: [- context.audio.peak_avg | round(2) -]</li>
            </ul>
        </div>
    </div>
    <div class="row">
        [[ for question in context.questions ]]
            [[ if question in good_questions and context.questions[question] | length ]]
                <div class="small-4 columns">
                    <p>[- question -]</p>
                    <ul>
                    [[ for answer in context.questions[question] ]]
                        <li><a href="[- answer[0] -]">[- answer[0] -]: [- answer[1] -]</a></li>
                    [[ endfor ]]
                    </ul>
                </div>
            [[ endif ]]
        [[ endfor ]]
    </div>
[[ endblock ]]

[[ block footer ]]
[[ endblock ]]
