[[ extends 'base.html' ]]

[[ block header ]]
[[ endblock ]]

[[ block body ]]
<div class="row">
    <header>
        <div class="small-4 columns">
            <a href="/"><h1>sambev.com</h1></a>
            <span class="subtitle">I have no idea what I am doing</span>
        </div>
    </header>
</div>
<hr>
<div ng-app="myDashboard">
    <div ng-controller="DashboardController">
        <div class="row">
            <div ng-repeat="report in reports">
                <div class="small-3 columns" ng-if="report.type != 'text'">
                    <label>{{ report.question }}</label>
                    <h3>{{ report.average | number: 2 }}</h3>
                    <ul>
                        <li ng-repeat="top in report.top_five | orderBy:amount">
                            {{ top.answer }}: {{ top.amount }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
[[ endblock ]]

[[ block footer ]]
    <script type="text/javascript" src="static/vendor/crossfilter/crossfilter.min.js"></script>
    <script type="text/javascript" src="static/vendor/d3/d3.min.js"></script>
    <script src="static/vendor/angular/angular.min.js"></script>
    <script src="static/vendor/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="static/js/dashboard.js"></script>
[[ endblock ]]
