[[ extends 'base.html' ]]

[[ block header ]]
    <link rel="stylesheet" type="text/css" href="static/css/chart.css">
[[ endblock ]]

[[ block body ]]
<div class="row">
    <header>
        <div class="small-4 columns">
            <a href="/"><h1>sambev.com</h1></a>
            <span class="subtitle">I have no idea what I am doing</span>
        </div>
    </header>
</div>
<hr>
<div class="row">
    <h2>Averages</h2>
    [[ for summary in summaries ]]
        [[ if summary.type == 'numeric' ]]
            <div class="small-2 columns">
                <label>[- summary.question -]</label>
                <h3>[- summary.average | round(2) -]</h3>
            </div>
        [[ endif ]]
    [[ endfor ]]
</div>
<div class="row">
    <div class="small-12 columns">
        <input id="happy_check" type="checkbox" />
        <label for="happy_check">Happiness</label>

        <input id="health_check" type="checkbox" />
        <label for="health_check">Health</label>

        <input id="weight_check" type="checkbox" />
        <label for="weight_check">Weight</label>

        <input id="steps_check" type="checkbox" />
        <label for="steps_check">Steps</label>

        <input id="miles_check" type="checkbox" />
        <label for="miles_check">Miles</label>

        <input id="floors_check" type="checkbox" />
        <label for="floors_check">Floors</label>
        <svg id="chart-main"></svg>
    </div>
</div>
<div class="row">
    <h2>Top fives</h2>
    [[ for summary in summaries ]]
        [[ if summary.type == 'tokens' ]]
            <div class="small-3 columns">
                <label>[- summary.question -]</label>
                <ol>
                    [[ for top in summary.top_five ]]
                        <li>[- top.answer | title -]</li>
                    [[ endfor ]]
                </ol>
            </div>
        [[ endif ]]
    [[ endfor ]]
</div>

[[ endblock ]]

[[ block footer ]]
    <script src="static/vendor/d3/d3.min.js"></script>
    <script src="static/vendor/lodash/dist/lodash.min.js"></script>
    <script src="static/js/chart.js"></script>
    <script src="static/js/events.js"></script>
[[ endblock ]]
