[[ extends 'base.html' ]]

[[ block header ]]
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
[[ endblock ]]

[[ block body ]]
    <div ng-app="summary" ng-cloak>
        <div class="row">
            <div ng-controller="SummaryTotalController">
                <div class="col-lg-2 col-xs-4">
                    <div class="well center">
                        <p class="report-title">{{ totals.reports }}</p>
                        <small>Reports</small>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-4">
                    <div class="well center">
                        <p class="report-title">{{ totals.days }}</p>
                        <small>Days</small>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-4">
                    <div class="well center">
                        <p class="report-title">{{ totals.avg_per_day }}</p>
                        <small>Avg/Day</small>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-4">
                    <div class="well center">
                        <p class="report-title">{{ totals.tokens }}</p>
                        <small>Tokens</small>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-4">
                    <div class="well center">
                        <p class="report-title">{{ totals.locations }}</p>
                        <small>Locations</small>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-4">
                    <div class="well center">
                        <p class="report-title">{{ totals.people }}</p>
                        <small>People</small>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div ng-controller="SummaryAppController">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <rd-number-tile
                        title="'Weight (lbs)'"
                        low="weight.min"
                        avg="weight.average"
                        high="weight.max"
                        current="weight.current"
                        type="'primary'">
                    </rd-number-tile>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <rd-number-tile
                        title="'Steps'"
                        low=""
                        avg=""
                        high=""
                        current=""
                        type="'warning'">
                    </rd-number-tile>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <rd-number-tile
                        title="'Sleep Quality (%)'"
                        low="sleep.low"
                        avg="sleep.average"
                        high="sleep.high"
                        current="sleep.current"
                        type="'success'">
                    </rd-number-tile>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <rd-number-tile
                        title="'Happiness'"
                        low="happy.min"
                        avg="happy.average"
                        high="happy.max"
                        current="happy.current"
                        type="'danger'">
                    </rd-number-tile>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <div class="panel panel-success">
                        <div class="panel-heading center">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="panel-title" style="padding-top:5px;">People</h3>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text"
                                        class="input-sm"
                                        placeholder="Filter"
                                        style="width:100%"
                                        ng-model="peopleFilter" />
                                </div>
                            </div>
                        </div>
                        <div class="panel-body token-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ol>
                                        <li ng-repeat="person in people | filter:peopleFilter">
                                            <a href="/reports/people/context/{{ person[0] }}">
                                                {{ person[0] }} - {{ person[1] }}
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading center">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="panel-title" style="padding-top:5px;">Places</h3>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text"
                                        class="input-sm"
                                        placeholder="Filter"
                                        style="width:100%"
                                        ng-model="placesFilter" />
                                </div>
                            </div>
                        </div>
                        <div class="panel-body token-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ol>
                                        <li ng-repeat="place in places | filter:placesFilter">
                                            <a href="/reports/places/context/{{ place[0] }}">
                                                {{ place[0] }} - {{ place[1] }}
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading center">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="panel-title" style="padding-top:5px;">Activities</h3>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text"
                                        class="input-sm"
                                        placeholder="Filter"
                                        style="width:100%"
                                        ng-model="activityFilter" />
                                </div>
                            </div>
                        </div>
                        <div class="panel-body token-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ol>
                                        <li ng-repeat="activity in activities | filter:activityFilter">
                                            <a href="/reports/activities/context/{{ activity[0] }}">
                                                {{ activity[0] }} - {{ activity[1] }}
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 hidden-xs">
                <div ng-controller="MainMapController">
                    <div id="map"></div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6" ng-controller="SummaryAppController">
                <div class="panel panel-danger">
                    <div class="panel-heading center">
                        <div class="row">
                            <div class="col-lg-5">
                                <h3 class="panel-title" style="padding-top:5px;">Daily Entries</h3>
                            </div>
                            <div class="col-lg-7">
                                <input type="text"
                                    class="input-sm"
                                    placeholder="Filter"
                                    style="width:100%"
                                    ng-model="dayFilter" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-body token-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul>
                                    <li ng-repeat="date in dates | filter:dayFilter">
                                        <a href="/reports/dates/{{ date }}">
                                            {{ date }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/vendor/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/static/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/reports/modules/reports.js"></script>
    <script type="text/javascript" src="/static/js/summary/summary.js"></script>
    <script type="text/javascript" src="/static/js/reports/controllers/MainMapController.js"></script>
    <script type="text/javascript" src="/static/js/reports/services/reportsService.js"></script>
    <script type="text/javascript" src="/static/js/reports/controllers/ReportsController.js"></script>
    <script type="text/javascript" src="/static/js/reports/services/geoJSONService.js"></script>
[[ endblock ]]

[[ block footer ]]
[[ endblock ]]
