[[ extends 'base.html' ]]

[[ block header ]]
[[ endblock ]]

[[ block body ]]
    <div ng-app="searchApp">
        <div ng-controller="searchCtrl">
            <div class="row">
                <div class="small-8 columns">
                    <h1>{{ context.answer }}</h1>
                    <p>{{ context.amount }} total reports</p>
                </div>
                <div class="small-4 columns">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input ng-model="name" type="text" placeholder="Name">
                        </div>
                        <div class="small-2 columns">
                            <a href="#"
                                class="button postfix"
                                ng-click="search(name)">Search</a>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="context.amount">
                <div class="row">
                    <div class="small-4 columns">
                        <h3>Misc stats:</h3>
                        <p>Average battery life: {{ context.battery.avg() | number:0 }}%</p>
                    </div>
                    <div class="small-4 columns">
                        <h3>Weather stats:</h3>
                        <ul>
                            <li>High (F): {{ context.weather.highF() }}</li>
                            <li>Average (F): {{ context.weather.avgF() | number:2 }}</li>
                            <li>Low (F): {{ context.weather.lowF() }}</li>
                        </ul>
                    </div>
                    <div class="small-4 columns">
                        <h3>Audio Stats:</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="small-4 columns">
                        <h3>Who are you with?</h3>
                        <div class="answer_column">
                            <div ng-repeat="person in context.people">
                                <a href="#" ng-click="search(person.name)">{{ person.name }}:</a>
                                <span class="answer_amount">{{ person.amount }}</span>
                                <br><br>
                            </div>
                        </div>
                    </div>

                    <div class="small-4 columns">
                        <h3>Where are you?</h3>
                        <div class="answer_column">
                            <div ng-repeat="place in context.places">
                                <a href="#" ng-click="search(place.name)">{{ place.name }}:</a>
                                <span class="answer_amount">{{ place.amount }}</span>
                                <br><br>
                            </div>
                        </div>
                    </div>

                    <div class="small-4 columns">
                        <h3>What are you doing?</h3>
                        <div class="answer_column">
                            <div ng-repeat="activity in context.activities">
                                <a href="#" ng-click="search(activity.name)">{{ activity.name }}:</a>
                                <span class="answer_amount">{{ activity.amount }}</span>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
[[ endblock ]]

[[ block footer ]]
    <script src="/static/vendor/angular/angular.min.js"></script>
    <script src="/static/vendor/lodash/dist/lodash.js"></script>
    <script src="/static/vendor/crossfilter/crossfilter.js"></script>
    <script src="/static/js/reports.js"></script>
[[ endblock ]]
